*{
  margin: 0;
}

@font-face{
  font-family: 'Work Sans';
  src: url('./WorkSans-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Phase';
  src: url('./fonts/Phase-AGX.woff2') format("woff2");
}

:root{
  --font-var-one: 0;
  --font-var-two: 0;
  --font-var-three: 0;
}

body{
  overflow: hidden;
  font-family: 'Work Sans';
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#bgText{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: 'Phase';
  font-variation-settings: "phon" var(--font-var-one), "phtw" var(--font-var-two), "phth" var(--font-var-three);
  padding: 3vw;
  font-size: 5vw;
}

#overlay-wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/2;
}

#current-prompt-wrapper{
  width: 50%;
  font-size: 1.7rem;
  background-color: rgb(31, 33, 28);
  color: white;  
  user-select: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.TextResponseBox{
  position: absolute;
  max-width: 20vw;
  margin: 0;
  font-size: max(1.0vw, 0.8em);
  color: var(--comp-col-02);  
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
  opacity: 0; 
}
.TextResponseBox.FadeIn{
  opacity: 1;
}
.TextResponseBox.FadeOut{
  opacity: 0;
}
.ImageResponseBox{
  opacity: 0;
  position: absolute;
  transition: 1.5s;
  max-width: 20%;
}
.ImageResponseBox.FadeIn{
  opacity: 1;
}
.ImageResponseBox.FadeOut{
  opacity: 0;
}